In [37]:
import pandas as pd

In [38]:
df = pd.read_csv('data.csv')
df.head()
#[x]  открыт файл;

,children,days_employed,dob_years,education,education_id,family_status,family_status_id,gender,income_type,debt,total_income,purpose
0,1,-8437.673028,42,высшее,0,женат / замужем,0,F,сотрудник,0,253875.639453,покупка жилья
1,1,-4024.803754,36,среднее,1,женат / замужем,0,F,сотрудник,0,112080.014102,приобретение автомобиля
2,0,-5623.422610,33,Среднее,1,женат / замужем,0,M,сотрудник,0,145885.952297,покупка жилья
3,3,-4124.747207,32,среднее,1,женат / замужем,0,M,сотрудник,0,267628.550329,дополнительное образование
4,0,340266.072047,53,среднее,1,гражданский брак,1,F,пенсионер,0,158616.077870,сыграть свадьбу

In [39]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 21525 entries, 0 to 21524
Data columns (total 12 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   children          21525 non-null  int64
 1   days_employed     19351 non-null  float64
 2   dob_years         21525 non-null  int64
 3   education         21525 non-null  object
 4   education_id      21525 non-null  int64
 5   family_status     21525 non-null  object
 6   family_status_id  21525 non-null  int64
 7   gender            21525 non-null  object
 8   income_type       21525 non-null  object
 9   debt              21525 non-null  int64
 10  total_income      19351 non-null  float64
 11  purpose           21525 non-null  object
dtypes: float64(2), int64(5), object(5)
memory usage: 2.0+ MB

In [40]:
#[x]  файл изучен;

In [41]:
#[x]  определены пропущенные значения;
df.isnull().sum()

children               0
days_employed       2174
dob_years              0
education              0
education_id           0
family_status          0
family_status_id       0
gender                 0
income_type            0
debt                   0
total_income        2174
purpose                0
dtype: int64

In [42]:
# максимальное и минимальное значение в столбце где есть пропущенные значения
df['days_employed'].max()

401755.40047533

In [43]:
df['days_employed'].min()

-18388.949900568383

In [44]:
df['total_income'].max()

2265604.028722744

In [45]:
df['total_income'].min()

20667.26379327158

In [46]:
df['days_employed'].mean() 
#Среднее значение по столбцу

63046.497661473615

In [47]:
df['total_income'].mean() 
#Среднее значение по столбцу

167422.3022081719

In [48]:
df['days_employed'].median()
#Медиана

-1203.369528770489

In [49]:
df['total_income'].median()
#Медиана

145017.93753253992

In [50]:
#заменим пропущенные значения на медиану 
df['days_employed'] = df['days_employed'].fillna(df['days_employed'].median())

In [51]:
df['total_income'] = df['total_income'].fillna(df['total_income'].median())
df.describe()#статистические данные

,children,days_employed,dob_years,education_id,family_status_id,debt,total_income
count,21525.000000,21525.000000,21525.000000,21525.000000,21525.000000,21525.000000,2.152500e+04
mean,0.538908,56557.335698,43.293380,0.817236,0.972544,0.080883,1.651595e+05
std,1.381587,134922.319298,12.574584,0.548138,1.420324,0.272661,9.786607e+04
min,-1.000000,-18388.949901,0.000000,0.000000,0.000000,0.000000,2.066726e+04
25%,0.000000,-2518.168900,33.000000,1.000000,0.000000,0.000000,1.077982e+05
50%,0.000000,-1203.369529,42.000000,1.000000,0.000000,0.000000,1.450179e+05
75%,1.000000,-385.106616,53.000000,1.000000,1.000000,0.000000,1.955436e+05
max,20.000000,401755.400475,75.000000,4.000000,4.000000,1.000000,2.265604e+06

In [52]:
#проверка на пропуски
df.isnull().sum()

children            0
days_employed       0
dob_years           0
education           0
education_id        0
family_status       0
family_status_id    0
gender              0
income_type         0
debt                0
total_income        0
purpose             0
dtype: int64

In [53]:
#[x]  заполнены пропущенные значения;

In [54]:
#[x]  есть пояснение, какие пропущенные значения обнаружены; - 
#[x]  описаны возможные причины появления пропусков в данных; - 
#[x]  объяснено, по какому принципу заполнены пропуски;

In [55]:
#[x]  заменен вещественный тип данных на целочисленный;
df['days_employed']=df['days_employed'].astype('int64')

In [56]:
df['total_income']=df['total_income'].astype('int64')

In [57]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 21525 entries, 0 to 21524
Data columns (total 12 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   children          21525 non-null  int64
 1   days_employed     21525 non-null  int64
 2   dob_years         21525 non-null  int64
 3   education         21525 non-null  object
 4   education_id      21525 non-null  int64
 5   family_status     21525 non-null  object
 6   family_status_id  21525 non-null  int64
 7   gender            21525 non-null  object
 8   income_type       21525 non-null  object
 9   debt              21525 non-null  int64
 10  total_income      21525 non-null  int64
 11  purpose           21525 non-null  object
dtypes: int64(7), object(5)
memory usage: 2.0+ MB

In [58]:
#[x]  есть пояснение, какой метод используется для изменения типа данных и почему;

In [59]:
#[x]  удалены дубликаты;

In [60]:
df.duplicated().sum()
#Находим дубликаты

54

In [61]:
df = df.drop_duplicates().reset_index(drop= True)
#Убираем дубликаты,не создавая новый стоблец и перезаписывая индексы

In [62]:
df.duplicated().sum()
#проверка

0

In [63]:
#[x]  есть пояснение, какой метод используется для поиска и удаления дубликатов;-

In [64]:
#[x]  описаны возможные причины появления дубликатов в данных;

In [65]:
#[x]  выделены леммы в значениях столбца с целями получения кредита;

In [66]:
purpose_list = df['purpose'].unique()

In [67]:
purpose_list

array(['покупка жилья', 'приобретение автомобиля',
       'дополнительное образование', 'сыграть свадьбу',
       'операции с жильем', 'образование', 'на проведение свадьбы',
       'покупка жилья для семьи', 'покупка недвижимости',
       'покупка коммерческой недвижимости', 'покупка жилой недвижимости',
       'строительство собственной недвижимости', 'недвижимость',
       'строительство недвижимости', 'на покупку подержанного автомобиля',
       'на покупку своего автомобиля',
       'операции с коммерческой недвижимостью',
       'строительство жилой недвижимости', 'жилье',
       'операции со своей недвижимостью', 'автомобили',
       'заняться образованием', 'сделка с подержанным автомобилем',
       'получение образования', 'автомобиль', 'свадьба',
       'получение дополнительного образования', 'покупка своего жилья',
       'операции с недвижимостью', 'получение высшего образования',
       'свой автомобиль', 'сделка с автомобилем',
       'профильное образование', 'высшее образование',
       'покупка жилья для сдачи', 'на покупку автомобиля', 'ремонт жилью',
       'заняться высшим образованием'], dtype=object)

In [68]:
purpose_list_to_str=','.join(purpose_list)

In [69]:
#from pymystem3 import Mystem
#m = Mystem()
#lemmas = m.lemmatize(purpose_list_to_str)

In [70]:
len(df)

21471

In [76]:
 #[x]  есть ответ на вопрос: "Есть ли зависимость между наличием детей и возвратом кредита в срок?";
df_group = df.groupby('children')['children'].count()/len(df)*100 #групировка по количеству детей в процентах
df_group

children
-1      0.218900
 0     65.702576
 1     22.397653
 2      9.557077
 3      1.536957
 4      0.190955
 5      0.041917
 20     0.353966
Name: children, dtype: float64

In [72]:
 #таблица людей у которых 0 детей
df_child_0 = df[df['children'] == 0]
df_child_0_count = len(df_child_0)
print('всего',df_child_0_count)

#таблица людей у которых 0 детей и нет задолженности
df_child_0_nobebt= df_child_0[df_child_0['debt'] >0]
df_child_0_nobebt_count =len(df_child_0_nobebt)
#доля должников в группе у которых 0 детей
part_child_0 = df_child_0_nobebt_count/df_child_0_count

print('количество должников с 0 детьми',df_child_0_nobebt_count)
print('количество должников с 0 детьми в процентах  {:.2%}'.format(part_child_0))

всего 14107
количество должников с 0 детьми 1063
количество должников с 0 детьми в процентах  7.54%

In [73]:
list_count_child=df['children'].unique()#список количества детей
sorted_list = sorted(list_count_child)

In [74]:
#сделаю через цикл 
data_value = ['Должников']
data_part  = ['Проценты']
sorted_list_new = ['Колличество детей']
for i in sorted_list:
    sorted_list_new.append(i)


for n in sorted_list:
    df_child_n = df[df['children'] == n]
    df_child_n_count = len(df_child_n)
    print('всего кредитополучателей с',n,'дет.',df_child_n_count)
    
    df_child_n_havedebt= df_child_n[df_child_n['debt'] >0]
    df_child_n_havedebt_count =len(df_child_n_havedebt)
    part_child_n = df_child_n_havedebt_count/df_child_n_count
    
    print('должников',df_child_n_havedebt_count)
    print('должников {:.2%}'.format(part_child_n))
    
    print('_________________________')
    
    data_value.append(df_child_n_havedebt_count)
    data_part.append('{:.2%}'.format(part_child_n))
print(data_value)   
print(data_part)   
print(sorted_list_new)

всего кредитополучателей с -1 дет. 47
должников 1
должников 2.13%
_________________________
всего кредитополучателей с 0 дет. 14107
должников 1063
должников 7.54%
_________________________
всего кредитополучателей с 1 дет. 4809
должников 444
должников 9.23%
_________________________
всего кредитополучателей с 2 дет. 2052
должников 194
должников 9.45%
_________________________
всего кредитополучателей с 3 дет. 330
должников 27
должников 8.18%
_________________________
всего кредитополучателей с 4 дет. 41
должников 4
должников 9.76%
_________________________
всего кредитополучателей с 5 дет. 9
должников 0
должников 0.00%
_________________________
всего кредитополучателей с 20 дет. 76
должников 8
должников 10.53%
_________________________
['Должников', 1, 1063, 444, 194, 27, 4, 0, 8]
['Проценты', '2.13%', '7.54%', '9.23%', '9.45%', '8.18%', '9.76%', '0.00%', '10.53%']
['Колличество детей', -1, 0, 1, 2, 3, 4, 5, 20]

In [75]:
data = data_value,data_part

columns = sorted_list_new


table = pd.DataFrame(data=data, columns=columns)
table.style.hide_index()